## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.userprefs

## Build
output/
installer/
publish/

## IDE
.vs/
.vscode/
.idea/
*.swp
*.swo
*~

## OS
.DS_Store
Thumbs.db
desktop.ini

## NuGet
*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets

## Rider
.idea/
*.sln.iml
